POSTGRES_PASSWORD=replace_with_your_local_database_password
POSTGRES_DB=drone_platform
POSTGRES_USER=drone_app
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5433
SESSION_COOKIE_SECURE=false
APP_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://localhost:3000,http://127.0.0.1:3000,http://localhost:8000,http://127.0.0.1:8000